<div class="outer-container">
	<div class="ttt-grid">
		<div class="row">
			<div class="box gray"></div>
			<div class="box white"></div>
			<div class="box gray"></div>
		</div>
		<div class="row">
			<div class="box white"></div>
			<div class="box gray"></div>
			<div class="box white"></div>
		</div>
		<div class="row">
			<div class="box gray"></div>
			<div class="box white"></div>
			<div class="box gray"></div>
		</div>
	</div>
</div>