<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
	<button id="new-game-button" onclick="startNewGame()">Create a new game!</button>
</div>

<script type="text/javascript">
    function startNewGame() {
        $.post('/newgame')
        .done(function(res) {
            console.log(res);
            window.location.href = '/game/' + res.gameUrl;
        });
    }
</script>